# Introduction to Joins

- **Definition**: A join is a T-SQL operation that combines rows from two or more tables based on a related column.
- **Purpose**: Joins are used to retrieve data from multiple tables in a single query.

## Inner Join

Combines rows from two tables where there is a match in the columns specified in the join condition.

- The most commonly used join.
- Retrieves rows from both tables where the join condition is met (i.e., where there is a match between the tables).
- If no match is found, the row is excluded from the result set.

In [ ]:
-- SQL-92 Syntax

SELECT E.empid, E.firstname, E.lastname, O.orderid
FROM HR. Employees AS ELSE
INNER JOIN Sales.Orders AS O
ON E.empid = O.empid
WHERE E.empid = 1 and YEAR(0.orderdate) = 2020 and O.custid = 71;

In [ ]:
-- SQL-92 Syntax

SELECT E.empid, E.firstname, E.lastname, O.orderid
FROM HR.Employees AS E
    INNER JOIN Sales.Orders AS O
    ON E.empid = O.empid;

In [ ]:
-- SQL-89 Syntax

SELECT E.empid, E.firstname, E.lastname, O.orderid
FROM HR.Employees AS E, Sales.Orders AS O
WHERE E.empid = O.empid;

## Composite Join

A _composite join_ is simply a join for which you need to match multiple attributes from each side.

Syntax:

            SELECT *
            FROM dbo.Table1 AS T1
            INNER JOIN dbo.Table2 AS T2
                ON T1.col1 = T2.col1
                AND T1.col2 = T2.col2

In [ ]:
SELECT E.empid, E.firstname, E.lastname, O.orderid
FROM HR.Employees AS E
    INNER JOIN Sales.Orders AS O
    ON E.empid = O.empid
    AND E.country = O.shipcountry;

## Self Cross Join

- You can join multiple instances of the same table. 

- This capability is known as a _Self Join_ and is supported with all fundamental join types (cross joins, inner joins, and outer joins).

In [ ]:
-- SQL-92 Syntax : Croos Join does not require a condition.

SELECT
 E1.empid, E1.firstname, E1.lastname,
 E2.empid, E2.firstname, E2.lastname
FROM HR.Employees AS E1
    CROSS JOIN HR.Employees AS E2;

In [ ]:
-- SQL-92 Syntax : Croos Join does not require a condition.

SELECT C.custid, E.empid
FROM Sales.Customers AS C
  CROSS JOIN HR.Employees AS E;

In [ ]:
-- SQL-89 Syntax

SELECT C.custid, E.empid
FROM Sales.Customers AS C, HR.Employees AS E;

## How to use the Auxiliary Table  

- Table: **dbo.Nums**  

- Example: Generate 5 copies out of each employee row.

In [ ]:
-- Using Auxiliary table:  TSQLV6.dbo.Nums

USE TSQLV6;

SELECT E.empid, E.firstname, E.lastname, N.n
FROM HR.Employees AS E
    CROSS JOIN dbo.Nums AS N 
WHERE N.n <= 5
ORDER BY empid, n;

## Non-equi Join

- When a **Join condition** involves <u>only an equality operator</u>, the Join is said to be an _equi join_. 

- When a **Join condition** involves any <u>operator besides equality</u>, the Join is said to be a _non-equi join_.

In [ ]:
SELECT
 E1.empid, E1.firstname, E1.lastname,
 E2.empid, E2.firstname, E2.lastname
FROM HR.Employees AS E1
    INNER JOIN HR.Employees AS E2
    ON E1.empid < E2.empid;

## Multi-join

A join table operator operates only on two tables, but a single query can have multiple joins. 

In general, when more than one table operator appears in the FROM clause, the table operators are logically processed in written order. 

That is, the result table of the first table operator is treated as the left input to the second table operator; the result of the second table operator is treated as the left input to the third table operator; and so on.

In [ ]:
SELECT
 C.custid, C.companyname, O.orderid, OD.productid, OD.qty
FROM Sales.Customers AS C
    INNER JOIN Sales.Orders AS O
        ON C.custid = O.custid
    INNER JOIN Sales.OrderDetails AS OD
        ON O.orderid = OD.orderid;

## Left (Outer) Join

- Retrieves **all rows from the left table**, and matching rows from the right table. 

- If no match is found, **NULL** values are returned for columns <u>from the right table</u>.

In [ ]:
-- Not all Customers have an Order

SELECT C.custid, C.companyname, O.orderid
FROM Sales.Customers AS C
    LEFT OUTER JOIN Sales.Orders AS O
    ON C.custid = O.custid;

In [ ]:
-- Filter only the rows in which one of the attributes
-- on the nonpreserved side of the join is NULL

SELECT C.custid, C.companyname
FROM Sales.Customers AS C
    LEFT OUTER JOIN Sales.Orders AS O
    ON C.custid = O.custid
WHERE O.orderid IS NULL;

## Right (Outer) Join
  

- Retrieves **all rows from the right table**, and matching rows from the left table.

- If no match is found, **NULL** values are returned for columns <u>from the left table</u>.

In [ ]:
-- All Orders have a Customer

SELECT C.custid, C.companyname, O.orderid
FROM Sales.Customers AS C
    RIGHT OUTER JOIN Sales.Orders AS O
    ON C.custid = O.custid;

## Full Outer Join

- Retrieves rows **there is a match** in one of the tables.

- If there is no match, the result will have **NULL** values in the columns <u>from the table with no match</u>.

In [ ]:
SELECT C.custid, C.companyname, O.orderid
FROM Sales.Customers AS C
    FULL OUTER JOIN Sales.Orders AS O
    ON C.custid = O.custid;

## Outer Joins in Multi-Join Query

In [ ]:
SELECT C.custid, O.orderid, OD.productid, OD.qty
FROM Sales.Customers AS C
    LEFT OUTER JOIN Sales.Orders AS O
        ON C.custid = O.custid
    INNER JOIN Sales.OrderDetails AS OD
        ON O.orderid = OD.orderid;

In [ ]:
SELECT C.custid, O.orderid, OD.productid, OD.qty
FROM Sales.Customers AS C
    LEFT OUTER JOIN Sales.Orders AS O
        ON C.custid = O.custid
    LEFT OUTER JOIN Sales.OrderDetails AS OD
        ON O.orderid = OD.orderid;

In [ ]:
SELECT C.custid, O.orderid, OD.productid, OD.qty
FROM Sales.Orders AS O
    INNER JOIN Sales.OrderDetails AS OD
        ON O.orderid = OD.orderid
    RIGHT OUTER JOIN Sales.Customers AS C
        ON O.custid = C.custid;

In [ ]:
SELECT C.custid, O.orderid, OD.productid, OD.qty
FROM Sales.Customers AS C
    LEFT OUTER JOIN (Sales.Orders AS O
    INNER JOIN Sales.OrderDetails AS OD
        ON O.orderid = OD.orderid)
ON C.custid = O.custid;

## Using the COUNT aggregate with outer joins

In [ ]:
-- COUNT(*)

SELECT C.custid, COUNT(*) AS numorders
FROM Sales.Customers AS C
    LEFT OUTER JOIN Sales.Orders AS O
        ON C.custid = O.custid
GROUP BY C.custid;

In [ ]:
-- COUNT(O.orderid)

SELECT C.custid, COUNT(O.orderid) AS numorders
FROM Sales.Customers AS C
    LEFT OUTER JOIN Sales.Orders AS O
        ON C.custid = O.custid
GROUP BY C.custid;

## Filtering attributes from the nonpreserved side of an outer join

In [ ]:
SELECT C.custid, C.companyname, O.orderid, O.orderdate
FROM Sales.Customers AS C
    LEFT OUTER JOIN Sales.Orders AS O
        ON C.custid = O.custid
WHERE O.orderdate >= '20220101';

## Including missing values

You can use outer joins to identify and include missing values when querying data. 

- For example, suppose you need to query all orders from the Orders table in the TSQLV6 database. You need to ensure that you get at least one row in the output for each date in the range January 1, 2020 through December 31, 2022.

In [ ]:
SELECT 
    DATEADD(day, Nums.n - 1, 
    CAST('20200101' AS DATE)) AS orderdate,
    O.orderid, 
    O.custid, 
    O.empid
FROM dbo.Nums
    LEFT OUTER JOIN Sales.Orders AS O
        ON DATEADD(day, Nums.n - 1, CAST('20200101' AS DATE)) = O.orderdate
WHERE Nums.n <= DATEDIFF(day, '20200101', '20221231') + 1
ORDER BY orderdate;